{% extends 'autenticacion/base.html' %}

{% block content %}
<div class="text-center">
    <h1>Bienvenido a Tutorías Online</h1>
    <p class="lead">Plataforma para conectar estudiantes y tutores</p>
    
    {% if user.is_authenticated %}
        <div class="alert alert-success">
            <h4>¡Hola {{ user.nombre }}!</h4>
            <p>Has iniciado sesión correctamente.</p>
        </div>
        <a href="#" class="btn btn-primary">Ir a mi perfil</a>
    {% else %}
        <a href="{% url 'registro' %}" class="btn btn-primary btn-lg">Registrarse</a>
        <a href="#" class="btn btn-outline-secondary btn-lg">Iniciar Sesión</a>
    {% endif %}
</div>
{% endblock %}